.container_t{
    display: flex;
    margin: 2em;
    gap: 1em;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 600px) {
    .container_t{
      flex-direction: column;
    }
    
  }

.img_teams{
    width: 30em;
    border-radius: 40px;
}

@media (max-width: 600px) {
    .img_teams {
        width: 24em;
      
    
    }
    
  }

.foto_valorant {
    filter: grayscale(100%);
    transition:all 0.3s;
    

}

.foto_valorant:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}
.foto_fornite {
    filter: grayscale(100%);
    transition:all 0.3s;

}

.foto_fornite:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}
.foto_lol {
    filter: grayscale(100%);
    transition:all 0.3s;

}

.foto_lol:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.foto_player{
    position: absolute;
    width: 20em;
    height: 40em;
}

.img_players{
    width: 20em;
    filter: drop-shadow(0 0 0.75rem rgb(38, 117, 227));
    
}
.card_player{
    opacity:0%;
    transition:all 0.9s;
    
}
.datos_player{
    position: relative;
    margin-top: 6em;
    margin-left: 2.8em;
    width: 15em;
    height: 30em;
    border-radius: 5em;
    
}

.card_player:hover {
    opacity: 100%;
    
}
.nickname{
    position: relative;
    margin-top: -6em;
    margin-left: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: rgb(207, 209, 212);
    
}

.lane_player{
    position: relative;
    width: 4em;
    margin-top: -11.5em;
    margin-left: 8.5em;
}

.titulares{
    display: flex;
    gap: 2em;
}
.suplentes{
    display: flex;
    justify-content: center;
    gap: 2em;
}