.container_player{
    display: flex;
    flex-direction: row;
    margin-top: 35em;
    justify-content: center;
    align-items: center;
}
.foto_player{
    position: absolute;
    width: 20em;
    height: 40em;
    margin-top: -30em;
}

.img_players{
    width: 20em;
    filter: drop-shadow(0 0 0.75rem rgb(38, 117, 227));
    
}
.card_player{
    opacity:0%;
    transition:all 0.9s;
    
}
.datos_player{
    position: relative;
    margin-top: -30em;
    margin-left: 1em;
    width: 15em;
    height: 30em;
    border-radius: 5em;
    
}

.card_player:hover {
    opacity: 100%;
    
}
.nickname{
    position: relative;
    
    margin-top: -6.8em;
    margin-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    color: rgb(207, 209, 212);
    text-align: center;
    
}

.lane_player{
    position: relative;
    width: 4em;
    margin-top: -12.5em;
    margin-left: 6.5em;
}
