
body{
  background-color: black !important ;
}
.container_tournament {
  background-color: black;
 
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 1em;
  
}
.img_tournament {
  width: 30em;
  height: 30em;
  border-radius: 40px;
  margin: 2em;
  transition: all 0.3s;
}

.img_tournament:hover {
  transform: scale(1.05);
  filter: drop-shadow(10px 10px 15px rgb(234, 173, 19));
}

@media (max-width: 600px) {
  .img_tournament {
    width: 20em;
    height: 20em;
  }
}

.container_select_tournament {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  background-color: #000000;
  color: #ffffff;
  width: 25em;
  

  gap: 1em;
}

.input1 {
  border: 0;
  border-radius: 8px;
  background-color: #e1e3e4;
  width: 15em;

  font-size: 1.2em;
  text-align: center;
}
.background_players {
  margin-top: 2em;
  display: flex;
  transition: font-size 3s, color 2s;
  
}
.img_background_player {
  width: 80em;
  height: 45em;
  opacity: 0; /* Comienza invisible */
  animation: fadeIn 1s ease-in forwards; /* Duración de la animación, tipo de animación y hacia donde se mueve */
 
}


/* Definir la animación */
@keyframes fadeIn {
  0% {
    opacity: 0; /* Comienza completamente invisible */
  }
  100% {
    opacity: 1; /* Termina completamente visible */
  }
}
@media (max-width: 600px) {
  .img_background_player {
    width: 25em;
    height: 15em;
  }
}

.list_player {
  position: absolute;
  width: 20em;
  height: 20em;
  color: #ffffff;
  margin-top: -2em;
  margin-left: 20em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  
}

@media (max-width: 600px) {
  .list_player {
    width: 14em;
    height: 15em;
    font-size: 0.8em;
    margin-top: 2em;
    margin-left: 13em;
  }
}

.alert {
   
    font-size: 1em;
    color: red !important;
}
.title_group{
  display: flex;
  align-items: center;
  width: 20em;
  height: 2em;
  background-color: #e0bf04;
  border: 1px solid #f5e534;
  color: #000000;
  font-size: 1.5em;

}
.lista{
  opacity: 0; /* Comienza invisible */
  animation: fadeIn 1s ease-in forwards; /* Duración de la animación, tipo de animación y hacia donde se mueve */
 
}
.celda_grupo{
  display: flex;
  align-items: center;
  width: 20em;
  height: 2em;
  background-color: #000000;
  
  border: 1px solid #f5e534;
  color: #e1e3e4;
  font-size: 1.5em;
  
}
.container_groups{
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: center;
  margin-top: 6em;
  opacity: 0; /* Comienza invisible */
  animation: fadeIn 1s ease-in forwards; /* Duración de la animación, tipo de animación y hacia donde se mueve */
 
  
}
@media (max-width: 600px) {
  .container_groups {
    flex-direction: column;
    justify-content: center;
    
    width: 30em;
    height: 15em;
    font-size: 0.8em;
  
  }
}
@media (max-width: 600px) {
  .celda_grupo {
    flex-direction: column;
    width: 18em;
    height: 2em;
  
  
  }
}
@media (max-width: 600px) {
  .title_group {
    flex-direction: column;
    width: 18em;
    height: 2em;
  
  
  }
}